.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.nav-items>ul {
    display: flex;
    list-style: none;
}

ul>li {
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

.body {
    border: 1px solid black;
    margin-top: 5px;
}

.shimmer-container {
    margin-top: 5px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    background-color: #f0f0f0;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 250px;
}

.filter {
    display: flex;
}

.search {
    margin: 10px;
}

.topRated-btn {
    margin: 10px;
    cursor: pointer;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    background-color: #f0f0f0;
    margin: 10px;
    padding: 10px;
    width: 200px;
    /* height: 250px; */
    transition: 0.2s ease-in-out;
}

.res-card:hover {
    transition: 0.1s;    
    box-shadow: 5px 5px rgb(218, 203, 203);
    cursor: pointer;
}

.res-card>img {
    width: 100%;
}
